.sidebarItem{
  display:flex;
  padding: 10px 0;
  border-radius: 100px;
  cursor: pointer;
  align-items:center;

}

.sidebarItem:hover{
  background-color: rgba(0,0,0,0.04);
}

.sidebarItem-arrow{
  width: 28px;
  margin-left: 12px;
}

.sidebarItem-main{
  display:flex;
  align-items:center;
}

.sidebarItem-main>p{
  margin-left:12px;
  font-family: Google Sans,Roboto,Arial,sans-serif;

}